<h3>PrestacionHtmlVirtual</h3>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Codigo</th>
			<th>Nombre</th>
			<th>Area</th>
			<th>Especialidad</th>
			<th>Procesable</th>
			<th>Activa</th>
		</tr>
	</thead>
	<tbody>
		@*REPRESENTACIÓN VIRTUALIZADA DE ELEMENTOS - SCROLL INFINITO - CARGA A MEDIDA QUE LA UI LO VAYA REQUIRIENDO
		<Virtualize Items="filteredResults" Context="item"> forma directa de hacer virtualización, pero tiene todos los elementos cargados en memoria
		*@
		<Virtualize Context="item" ItemsProvider="@CargarPrestaciones">
			<ItemContent>
				<tr>
					<td>@item.Id</td>
					<td>@item.Codigo</td>
					<td>@item.Nombre</td>
					<td>@item.Area?.Nombre</td>
					<td>@item.Especialidad?.Descripcion</td>
					<td>@item.EsProcesable</td>
					<td>@item.Activo</td>
				</tr>
			</ItemContent>
			@*<Placeholder>
			<tr>
			<td colspan="7">Cargando .....</td>
			</tr>
			</Placeholder>*@

		</Virtualize>
	</tbody>

</table>